.heading {
  color: var(--white);
  font-size: var(--heading);
  line-height: 1.1;
}

.title-1 {
  font-size: var(--title-1);
}
.title-2 {
  font-size: var(--title-2);
}
.title-3 {
  font-size: var(--title-3);
  font-weight: var(--weight-semiBold);
}

.body-1 {
  font-size: var(--body-1);
}
.body-2 {
  font-size: var(--body-2);
  font-weight: var(--weight-semiBold);
}
.body-3 {
  font-size: var(--body-3);
}

.label-1 {
  font-size: var(--label-1);
}
.label-2 {
  font-size: var(--label-2);
}
