/* base */
@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./base/variables.css");

/* layouts */
@import url("./layouts/flex.css");
@import url("./layouts/grid.css");
@import url("./layouts/spacing.css");

/* components */
@import url("./compontents/buttons.css");
@import url("./compontents/cards.css");
@import url("./compontents/fields.css");

/* themes */
@import url("./themes/dark.css");
@import url("./themes/light.css");

@import url("./animation.css");
@import url("./responsivity.css");
@import url("./utilities.css");

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../font/material-symbol-rounded.woff2") format(woff2);
}

.m-icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  height: 1em;
  width: 1em;
  overflow: hidden;
}
/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #MATERIAL ICON
\*-----------------------------------*/

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.search-view,
.header .primary-btn,
.span {
  display: none;
}

.logo img {
  width: 150px;
}

.search-view {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh; /*for mobile browser*/
  background-color: var(--surface);
  color: var(--on-surface);
  clip-path: circle(4% at calc(100% - 102px) 5%);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: clip-path 500ms ease;
}

.search-view.active {
  opacity: 1;
  visibility: visible;
  clip-path: circle(130% at 73% 5%);
}

.search-wrapper {
  position: relative;
  border-block-end: 1px solid var(--outline);
}

.search-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
  border: 3px solid var(--on-surface);
  border-radius: var(--radius-circle);
  border-block-start-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}

.search-wrapper:has(.searching)::before {
  display: block;
}

.search-field {
  height: 80px;
  line-height: 80px;
  padding-inline: 56px 16px;
  outline: none;
}

.search-field::placeholder {
  color: var(--on-surface-variant-2);
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
}

.search-wrapper > .m-icon {
  display: none;
}

.search-wrapper .icon-btn {
  background-color: transparent;
  box-shadow: none;
}

.search-view .view-list {
  padding-block: 8px 16px;
}

.search-view .view-item {
  position: relative;
  height: 56px;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 16px 24px;
}

.search-view .view-item :is(.m-icon, .item-subtitle) {
  color: var(--on-surface-variant);
}

.search-view .view-item .item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}
/*-----------------------------------*\
  #CURRENT WEATHER
\*-----------------------------------*/

/*-----------------------------------*\
  #HIGHLIGHTS
\*-----------------------------------*/

/*-----------------------------------*\
  #HOURLY FORECAST
\*-----------------------------------*/

/*-----------------------------------*\
  #FORECAST
\*-----------------------------------*/

/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

/*-----------------------------------*\
  #ERROR SECTION
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
